.__dumi-default-navbar-logo {
  color: transparent !important;
}

.__dumi-default-previewer-demo {
}

.__dumi-default-layout-hero {
}

a[title='站长统计'] {
  display: none;
}

input,
button {
  padding: 4px;
}
